" {{ ansible_managed }}

" General options
set fileformat=unix
set encoding=utf-8


" Use vim defaults
set nocompatible


" Editor general features
set number
syntax on
set autoread
set noerrorbells
set novisualbell
set laststatus=2
set writeany
set showcmd
set ruler
set ttyfast
set lazyredraw
set mouse=a
set backspace=indent,eol,start
set history=100
set undolevels=150
set scrolloff=5 " Show 5 lines above/below the cursor when scrolling.
set title " Set the title in the console.
filetype plugin indent on

" Tabs, spaces, indentation...
set nowrapscan
set nowrap
set showtabline=4
set expandtab
set smartindent
set foldmethod=marker
set showmatch
set matchtime=3
set tabstop=4
set shiftwidth=4
set softtabstop=4

" Search options
set ignorecase
set incsearch
set infercase
set hlsearch
