# {{ ansible_managed }}

[user]
name = {{ git_username }}
email = {{ git_usermail }}

[color]
ui = true

[color "branch"]
current = yellow reverse
local = yellow
remote = green

[color "diff"]
meta = cyan bold
frag = yellow
old = red
new = green

[color "status"]
added = green
changed = red
untracked = cyan

[core]
editor = {{ git_coreeditor|default('vi') }}
autocrlf = input
safecrlf = true

[push]
default = {{ git_pushdefault|default('current') }}

[alias]
st = status
ci = commit
br = branch
co = checkout
df = diff
dc = diff --cached
lg = log -p
logp = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
who = shortlog -s --

